# Y.Music

<div style="border:solid black 2px; padding: 20px"><h1 style="color:green; margin-bottom:20px">Reviewer's comment v1</h1>
Halo Roby!

Perkenalkan saya Naufal, disini saya akan mereview tugas Roby ya.

Saya akan memberikan beberapa komen seperti dibawah ini, tolong jangan dipindah, dirubah, maupun dihapus ya.

Komen yang saya berikan akan muncul dalam warna hijau, kuning, atau pun merah seperti ini:

<div class="alert alert-success">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Bagus, semua berjalan lancar.

</div>

<div class="alert alert-warning">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Terdapat beberapa catatan.

</div>

<div class="alert alert-danger">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Perlu beberapa perbaikan

</div>

Dan tentu saja Roby dapat menjawab saya dengan menggunakan ini

<div class="alert alert-block alert-info">
<b>Student answer.</b> <a class="tocSkip"></a>
</div>

<div style="border:solid black 2px; padding: 20px">
<b>Reviewer's comment v1:</b>
    
<b>Overall Feedback</b> 
    
- Secara keseluruhan ini adalah hasil yang bagus! Beberapa poin bahkan melebihi dari ekspektasi pada peserta lain secara umum.
- Namun terdapat beberapa poin dimana perlu perbaikan namun saya rasa bukan lah hal yang sulit seperti terdapat beberapa pengulangan yang kurang efektif baik dalam perumusan fungsi maupun penulisan koding.
    
Untuk perbaikan nya ditunggu ya!
</div>

<div style="border:solid black 2px; padding: 20px">
<b>Reviewer's comment v2:</b>
    
<b>Overall Feedback</b> 
    
Kerja yang sangat bagus! waktu perbaikan yang relatif singkat. Oleh karena itu project ini sudah selesai dan bisa melanjutkan ke track selanjutnya. Selain itu juga terdapat beberapa jawaban yang semoga bisa membantu kedepanya. Selamat ya!  üëçüëç
</div>

# Konten <a id='back'></a>

* [Pendahuluan](#intro)
* [Tahap 1. Ikhtisar Data](#data_review)
    * [Kesimpulan](#data_review_conclusions)
* [Tahap 2. Pra-pemrosesan Data](#data_preprocessing)
    * [2.1 Gaya penulisan judul](#header_style)
    * [2.2 Nilai-nilai yang hilang](#missing_values)
    * [2.3 Duplikat](#duplicates)
    * [2.4 Kesimpulan](#data_preprocessing_conclusions)
* [Tahap 3. Menguji Hipotesis](#hypotheses)
    * [3.1 Hipotesis 1: aktivitas pengguna di dua kota](#activity)
    * [3.2 Hipotesis 2: preferensi musik pada hari Senin dan Jumat](#week)
    * [3.3 Hipotesis 3: preferensi genre di kota Springfield dan Shelbyville](#genre)
* [Temuan](#end)

## Pendahuluan <a id='intro'></a>
Setiap kali kita melakukan penelitian, kita perlu merumuskan hipotesis yang kemudian dapat kita uji. Terkadang kita menerima hipotesis ini; tetapi terkadang kita juga menolaknya. Untuk membuat keputusan yang tepat, sebuah bisnis harus dapat memahami apakah asumsi yang dibuatnya benar atau tidak.

Dalam proyek kali ini, Anda akan membandingkan preferensi musik kota Springfield dan Shelbyville. Anda akan mempelajari data Y.Music yang sebenarnya untuk menguji hipotesis di bawah ini dan membandingkan perilaku pengguna di kedua kota ini.

### Tujuan: 
Menguji tiga hipotesis:
1. Aktivitas pengguna berbeda-beda tergantung pada hari dan kotanya.
2. Pada senin pagi, penduduk Springfield dan Shelbyville mendengarkan genre yang berbeda. Hal ini juga ini juga berlaku untuk Jumat malam.
3. Pendengar di Springfield dan Shelbyville memiliki preferensi yang berbeda. Di Springfield, mereka lebih suka musik pop, sementara Shelbyville, musik rap memiliki lebih banyak penggemar.

### Tahapan
Data tentang perilaku pengguna disimpan dalam berkas `/datasets/music_project_en.csv`. Tidak ada informasi tentang kualitas data, jadi Anda perlu memeriksanya lebih dahulu sebelum menguji hipotesis.

Pertama, Anda akan mengevaluasi kualitas data dan melihat apakah masalahnya signifikan. Kemudian, selama pra-pemrosesan data, Anda akan mencoba memperhitungkan masalah yang paling serius.
 
Proyek ini akan terdiri dari tiga tahap:
 1. Ikhtisar Data
 2. Pra-pemrosesan Data
 3. Menguji Hipotesis

 
[Kembali ke Daftar Isi](#back)

## Tahap 1. Ikhtisar Data <a id='data_review'></a>

Buka data di Y.Music lalu jelajahi data yang ada di sana.

Anda akan membutuhkan `Pandas`, jadi Anda harus mengimpornya.

In [1]:
import pandas as pd

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Kerja bagus, langkah pertama yaitu mengimpor `pandas` dengan singkatan yang sangat umum dipakai yaitu `pd`.

</div>

Baca file `music_project_en.csv` dari folder `/datasets/` lalu simpan di variabel `df`:

In [2]:
df = pd.read_csv('/datasets/music_project_en.csv')

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Hebat! penulisan direktori file dengan tepat terkait folder `/datasets/`.

</div>

Tampilkan 10 baris tabel pertama:

In [3]:
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L‚Äôestate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan fungsi `head()` yang benar untuk menampilkan `n` baris pertama dalam dataframe. Selain fungsi `head()` ada juga fungsi `tail()` yang merupakan kebalikannya yaitu menampilkan `n` baris terakhir dari dataframe.

</div>

Memperoleh informasi umum tentang tabel dengan satu perintah:

In [4]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

<div class="alert alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Pertimbangkan juga menggunakan fungsi `.info()` dengan itu akan menampilkan informasi umum dengan lebih efisien, seperti jumlah baris dan non-null data.

</div>

<div class="alert alert-block alert-info">
Apakah ada keuntungannya ketika menggunakan info? Karena kalau dilihat perbedaannya, kalau menggunakan <b>.describe()</b> informasi yang terlihat lebih detail sehingga dapat melihat gambaran secara umum. 
</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Benar, secara konten informasi `describe()` lebih banyak namun tidak berarti lebih lengkap dibanding `info()`. Sebagai salah satu contoh jika dilihat dari kebutuhan awal `describe()` tidak menampilkan informasi berapa jumlah baris keseluruhan hingga baris non-null sehingga apabila ada case disetiap kolom terdapat missing value informasi terkait jumlah baris tidak tersedia di `desribe()`. Berikut link yang bisa dijadikan referensi lebih lanjut https://towardsdatascience.com/pandas-i-read-csv-head-tail-info-and-describe-43b9b2736490.

</div>

Tabel ini berisi tujuh kolom. Semuanya menyimpan tipe data yang sama, yaitu: `objek`.

Berdasarkan dokumentasi:
- `'userID'` ‚Äî pengenal pengguna
- `'Track'` ‚Äî judul trek
- `'artist'` ‚Äî nama artis
- `'genre'`
- `'City'` ‚Äî kota tempat pengguna berada
- `'time'` ‚Äî lama waktu lagu tersebut dimainkan
- `'Day'` ‚Äî nama hari

Kita dapat melihat tiga masalah dengan gaya penulisan nama kolom:
1. Beberapa nama huruf besar, beberapa huruf kecil.
2. Ada penggunaan spasi pada beberapa nama.
3. `Coba cari masalah ketiga dan jelaskan di sini`. Kolom `'time'` memiliki arti yang sedikit ambigu, bisa diartikan sebagai kapan lagu itu dimainkan atau durasi lagu. Kalau yang dimaksud durasi lagu, lebih baik diganti menjadi `'duration'` 

Jumlah nilai kolom berbeda. Ini berarti data mengandung nilai yang hilang.

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Poin yang bagus terkait ambiguitas, tetapi coba cek lagi nama nama kolom yang tersedia berdasarkan jumlah kata dalam penamaan kolom.

</div>

<div class="alert alert-block alert-info">
    
Saya agak bingung dengan yang disampaikan dan mau bertanya sedikit, apakah ada "aturan yang tidak tertulis" dalam penggunaan nama kolom misal harus konsisten 2 kata atau sebagainya? Saya bisa dibilang baru menyelam dalam dunia proses data jadi yang saya tahu hanya dalam penggunaan huruf kapital dan snake_case.

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Secara umum aturan seperti ini digunakan untuk mempermudah dalam memahami apa yang dikerjakan di dalam notebook baik orang yang mengerjakan dari awal maupun orang yang baru membaca. Dalam link berikut dijelaskan lebih detail beberapa aturan terkait nama variabel https://pythonguides.com/python-naming-conventions/

</div>

### Kesimpulan <a id='data_review_conclusions'></a> 

Setiap baris dalam tabel menyimpan data pada lagu yang dimainkan. Beberapa kolom menggambarkan lagu itu sendiri: judul, artis, dan genre. Sisanya menyampaikan informasi tentang pengguna: kota asal mereka, waktu mereka memutar lagu.

Jelas bahwa data tersebut cukup untuk menguji hipotesis. Namun, ada nilai-nilai yang hilang.

Selanjutnya, kita perlu melakukan pra-pemrosesan data terlebih dahulu.

<div class="alert alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Pengambilan kesimpulan cukup benar terkait nilai yang hilang namun terdapat beberapa cara penamaan kolom yang masih belum konsisten.

</div>

[Kembali ke Daftar Isi](#back)

## Tahap 2. Pra-pemrosesan Data <a id='data_preprocessing'></a>
Perbaiki format pada judul kolom dan atasi nilai yang hilang. Kemudian, periksa apakah ada duplikat dalam data.

### Gaya Penulisan Judul <a id='header_style'></a>
Tampilkan judul kolom:

In [5]:
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Hebat. Sudah tidak diperlukan menggunakan fungsi `print()` karena memang baris terakhir dari sel notebook.

</div>

Ubah nama kolom sesuai dengan aturan gaya penulisan yang baik:
* Jika nama memiliki beberapa kata, gunakan snake_case
* Semua karakter harus menggunakan huruf kecil
* Hapus spasi

In [6]:
df = df.rename(
    columns={
        '  userID':'user_id',
        'Track':'track',
        '  City  ':'city',
        'Day':'day',
    }
)

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Metode perubahan nama kolom yang benar sehingga tidak akan muncul error walaupun terdapat perbedaan urutan kolom.

</div>

Periksa hasilnya. Tampilkan nama kolom sekali lagi:

In [7]:
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Kembali ke Daftar Isi](#back)

### Nilai-Nilai yang Hilang <a id='missing_values'></a>
Pertama, temukan jumlah nilai yang hilang dalam tabel. Untuk melakukannya, gunakan dua metode `Pandas`:

In [8]:
df.isna().sum()

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Fungsi `isna()` telah digunakan dengan baik. Terdapat alternatif lain yaitu `isnull()` tetapi `isna()` lebih umum dipakai.

</div>

Tidak semua nilai yang hilang berpengaruh terhadap penelitian. Misalnya, nilai yang hilang dalam `track` dan `artist` tidak begitu penting. Anda cukup menggantinya dengan tanda yang jelas.

Namun nilai yang hilang dalam `'genre'` dapat memengaruhi perbandingan preferensi musik di Springfield dan Shelbyville. Dalam kehidupan nyata, ini akan berguna untuk mempelajari alasan mengapa data tersebut hilang dan mencoba memperbaikinya. Tetapi kita tidak memiliki kesempatan itu dalam proyek ini. Jadi Anda harus:
* Isi nilai yang hilang ini dengan sebuah tanda
* Evaluasi seberapa besar nilai yang hilang dapat memengaruhi perhitungan Anda

Ganti nilai yang hilang pada `'track'`, `'artist'`, dan `'genre'` dengan string `'unknown'`. Untuk melakukannya, buat list `columns_to_replace`, lakukan *loop* dengan `for`, dan ganti nilai yang hilang di setiap kolom:

In [9]:
columns_to_replace = ['track','artist','genre']
for i in columns_to_replace:
    df[i] = df[i].fillna('unknown')

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Telah mendefinisikan list `columns_to_replace` tanpa error sehingga dapat melakukan imputasi nilai-nilai yang hilang dengan lancar.

</div>

Pastikan tidak ada tabel lagi yang berisi nilai yang hilang. Hitung kembali nilai yang hilang.

In [10]:
df.isna().sum()

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sama dengan sebelumnya terkait penggunaan `isna()`.

</div>

[Kembali ke Daftar Isi](#back)

### Duplikat <a id='duplicates'></a>
Temukan jumlah duplikat yang jelas dalam tabel menggunakan satu perintah:

In [11]:
df.duplicated().sum()

3826

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Kerja bagus! Dapat menampilkan nilai duplikat dengan metode yang optimal.

</div>

Panggil metode `Pandas` untuk menghapus duplikat yang jelas:

In [12]:
df = df.drop_duplicates().reset_index(drop=True)

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sempurna! penggunaan `drop_duplicates()` sudah benar hingga penggunaan `reset_index()` dan argumen `drop=True`.


</div>

Hitung duplikat yang jelas sekali lagi untuk memastikan Anda telah menghapus semuanya:

In [13]:
df.duplicated().sum()

0

Sekarang hapus duplikat implisit di kolom `genre`. Misalnya, nama genre dapat ditulis dengan cara yang berbeda. Kesalahan seperti ini juga akan memengaruhi hasil.

Tampilkan daftar nama genre yang unik, urutkan berdasarkan abjad. Untuk melakukannya:
* Ambil kolom DataFrame yang dimaksud
* Terapkan metode pengurutan untuk itu
* Untuk kolom yang diurutkan, panggil metode yang akan menghasilkan semua nilai kolom yang unik

In [14]:
sorted(df['genre'].unique())

['acid',
 'acoustic',
 'action',
 'adult',
 'africa',
 'afrikaans',
 'alternative',
 'ambient',
 'americana',
 'animated',
 'anime',
 'arabesk',
 'arabic',
 'arena',
 'argentinetango',
 'art',
 'audiobook',
 'avantgarde',
 'ax√©',
 'baile',
 'balkan',
 'beats',
 'bigroom',
 'black',
 'bluegrass',
 'blues',
 'bollywood',
 'bossa',
 'brazilian',
 'breakbeat',
 'breaks',
 'broadway',
 'cantautori',
 'cantopop',
 'canzone',
 'caribbean',
 'caucasian',
 'celtic',
 'chamber',
 'children',
 'chill',
 'chinese',
 'choral',
 'christian',
 'christmas',
 'classical',
 'classicmetal',
 'club',
 'colombian',
 'comedy',
 'conjazz',
 'contemporary',
 'country',
 'cuban',
 'dance',
 'dancehall',
 'dancepop',
 'dark',
 'death',
 'deep',
 'deutschrock',
 'deutschspr',
 'dirty',
 'disco',
 'dnb',
 'documentary',
 'downbeat',
 'downtempo',
 'drum',
 'dub',
 'dubstep',
 'eastern',
 'easy',
 'electronic',
 'electropop',
 'emo',
 'entehno',
 'epicmetal',
 'estrada',
 'ethnic',
 'eurofolk',
 'european',
 'experimental',
 'extrememetal',
 'fado',
 'film',
 'fitness',
 'flamenco',
 'folk',
 'folklore',
 'folkmetal',
 'folkrock',
 'folktronica',
 'forr√≥',
 'frankreich',
 'franz√∂sisch',
 'french',
 'funk',
 'future',
 'gangsta',
 'garage',
 'german',
 'ghazal',
 'gitarre',
 'glitch',
 'gospel',
 'gothic',
 'grime',
 'grunge',
 'gypsy',
 'handsup',
 "hard'n'heavy",
 'hardcore',
 'hardstyle',
 'hardtechno',
 'hip',
 'hip-hop',
 'hiphop',
 'historisch',
 'holiday',
 'hop',
 'horror',
 'house',
 'idm',
 'independent',
 'indian',
 'indie',
 'indipop',
 'industrial',
 'inspirational',
 'instrumental',
 'international',
 'irish',
 'jam',
 'japanese',
 'jazz',
 'jewish',
 'jpop',
 'jungle',
 'k-pop',
 'karadeniz',
 'karaoke',
 'kayokyoku',
 'korean',
 'laiko',
 'latin',
 'latino',
 'leftfield',
 'local',
 'lounge',
 'loungeelectronic',
 'lovers',
 'malaysian',
 'mandopop',
 'marschmusik',
 'meditative',
 'mediterranean',
 'melodic',
 'metal',
 'metalcore',
 'mexican',
 'middle',
 'minimal',
 'miscellaneous',
 'modern',
 'mood',
 'mpb',
 'muslim',
 'native',
 'neoklassik',
 'neue',
 'new',
 'newage',
 'newwave',
 'nu',
 'nujazz',
 'numetal',
 'oceania',
 'old',
 'opera',
 'orchestral',
 'other',
 'piano',
 'pop',
 'popelectronic',
 'popeurodance',
 'post',
 'posthardcore',
 'postrock',
 'power',
 'progmetal',
 'progressive',
 'psychedelic',
 'punjabi',
 'punk',
 'quebecois',
 'ragga',
 'ram',
 'rancheras',
 'rap',
 'rave',
 'reggae',
 'reggaeton',
 'regional',
 'relax',
 'religious',
 'retro',
 'rhythm',
 'rnb',
 'rnr',
 'rock',
 'rockabilly',
 'romance',
 'roots',
 'ruspop',
 'rusrap',
 'rusrock',
 'salsa',
 'samba',
 'schlager',
 'self',
 'sertanejo',
 'shoegazing',
 'showtunes',
 'singer',
 'ska',
 'slow',
 'smooth',
 'soul',
 'soulful',
 'sound',
 'soundtrack',
 'southern',
 'specialty',
 'speech',
 'spiritual',
 'sport',
 'stonerrock',
 'surf',
 'swing',
 'synthpop',
 's√§ngerportrait',
 'tango',
 'tanzorchester',
 'taraftar',
 'tech',
 'techno',
 'thrash',
 'top',
 'traditional',
 'tradjazz',
 'trance',
 'tribal',
 'trip',
 'triphop',
 'tropical',
 't√ºrk',
 't√ºrk√ße',
 'unknown',
 'urban',
 'uzbek',
 'vari√©t√©',
 'vi',
 'videogame',
 'vocal',
 'western',
 'world',
 'worldbeat',
 '√Ø√Æ√Ø']

<div class="alert alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Bagus, daftar genre yang unik dan berurutan sudah didapatkan. Namun alangkah lebih baiknya untuk mengurutkan nilai di dataframe menggunakan metode `sort_values()` sehingga seperti ini `df['genre'].sort_values().unique()`.

</div>

Lihat melalui *list* untuk menemukan duplikat implisit dari genre `hiphop`. Ini bisa berupa nama yang ditulis secara salah atau nama alternatif dari genre yang sama.

Anda akan melihat duplikat implisit berikut:
* `hip`
* `hop`
* `hip-hop`

Untuk menghapusnya, gunakan fungsi `replace_wrong_genres()` dengan dua parameter:
* `wrong_genres=` ‚Äî daftar duplikat
* `correct_genre=` ‚Äî string dengan nilai yang benar

Fungsi harus mengoreksi nama dalam kolom `'genre'` dari tabel `df`, yaitu mengganti setiap nilai dari daftar `wrong_genres` dengan nilai dalam `correct_genre`.

In [15]:
def replace_wrong_genres(wrong_genre, correct_genre):
    #df['genre'] = df['genre'].replace(wrong_genre,correct_genre)
    for i in wrong_genre:
        df['genre'] = df['genre'].replace(i,correct_genre)

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Penggunaan looping diperlukan dalam function yang dibentuk agar tidak terjadi perulangan dalam penulisan koding pada saat melakukan koreksi genre.

</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Sudah benar!

</div>

Panggil `replace_wrong_genres()` dan berikan argumennya sehingga menghapus duplikat implisit (`hip`, `hop`, dan `hip-hop`) dan menggantinya dengan `hiphop`:

In [16]:
#replace_wrong_genres('hip', 'hiphop')
#replace_wrong_genres('hop', 'hiphop')
#replace_wrong_genres('hip-hop', 'hiphop')
hiphop_implisit = ['hip','hop','hip-hop']
replace_wrong_genres(hiphop_implisit,'hiphop')

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Genre yang dirubah sudah benar namun karena dalam pembuatan fungsi sebelumnya masih belum terdapat looping sehingga masih menggunakan pengulangan dalam koding diatas.

</div>

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Dengan begini penulisan kode lebih efisien.

</div>

Pastikan nama duplikat telah dihapus. Tampilkan daftar nilai unik dari kolom `'genre'`:

In [17]:
df['genre'].sort_values().unique()

array(['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans',
       'alternative', 'ambient', 'americana', 'animated', 'anime',
       'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook',
       'avantgarde', 'ax√©', 'baile', 'balkan', 'beats', 'bigroom',
       'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian',
       'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop',
       'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber',
       'children', 'chill', 'chinese', 'choral', 'christian', 'christmas',
       'classical', 'classicmetal', 'club', 'colombian', 'comedy',
       'conjazz', 'contemporary', 'country', 'cuban', 'dance',
       'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock',
       'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat',
       'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy',
       'electronic', 'electropop', 'emo', 'entehno', 'epicmetal',
       'estrada', 'ethnic', 'eurofolk', 'european', 'experimental',
       'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk',
       'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forr√≥',
       'frankreich', 'franz√∂sisch', 'french', 'funk', 'future', 'gangsta',
       'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel',
       'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy",
       'hardcore', 'hardstyle', 'hardtechno', 'hiphop', 'historisch',
       'holiday', 'horror', 'house', 'idm', 'independent', 'indian',
       'indie', 'indipop', 'industrial', 'inspirational', 'instrumental',
       'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish',
       'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku',
       'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local',
       'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop',
       'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal',
       'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous',
       'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue',
       'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania',
       'old', 'opera', 'orchestral', 'other', 'piano', 'pop',
       'popelectronic', 'popeurodance', 'post', 'posthardcore',
       'postrock', 'power', 'progmetal', 'progressive', 'psychedelic',
       'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap',
       'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious',
       'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance',
       'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba',
       'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes',
       'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound',
       'soundtrack', 'southern', 'specialty', 'speech', 'spiritual',
       'sport', 'stonerrock', 'surf', 'swing', 'synthpop',
       's√§ngerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech',
       'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance',
       'tribal', 'trip', 'triphop', 'tropical', 't√ºrk', 't√ºrk√ße',
       'unknown', 'urban', 'uzbek', 'vari√©t√©', 'vi', 'videogame', 'vocal',
       'western', 'world', 'worldbeat', '√Ø√Æ√Ø'], dtype=object)

<div class="alert alert-danger">
<b>Reviewer's comment v1 </b> <a class="tocSkip"></a>

Seharusnya menggunakan pengurutan agar lebih mudah dapat pengecekan nilai yang unik sama seperti sebelumnya.

</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Penggunaan `sort_values()` sudah benar.

</div>

[Kembali ke Daftar Isi](#back)

### Kesimpulan <a id='data_preprocessing_conclusions'></a>
Kita mendeteksi tiga masalah dengan data:

- Gaya penulisan judul yang salah
- Nilai-nilai yang hilang
- Duplikat yang jelas dan implisit

Judul telah dibersihkan untuk mempermudah pemrosesan tabel.

Semua nilai yang hilang telah diganti dengan `'unknown'`. Tapi kita masih harus melihat apakah nilai yang hilang dalam `'genre'` akan memengaruhi perhitungan kita.

Tidak adanya duplikat akan membuat hasil lebih tepat dan lebih mudah dipahami.

Sekarang kita dapat melanjutkan ke pengujian hipotesis.

[Kembali ke Daftar Isi](#back)

## Tahap 3. Menguji Hipotesis <a id='hypotheses'></a>

### Hipotesis 1: Membandingkan Perilaku Pengguna di Dua Kota <a id='activity'></a>

Menurut hipotesis pertama, pengguna dari Springfield dan Shelbyville memiliki perbedaan dalam mendengarkan musik. Pengujian ini menggunakan data pada hari: Senin, Rabu, dan Jumat.

* Pisahkan pengguna ke dalam kelompok berdasarkan kota.
* Bandingkan berapa banyak lagu yang dimainkan setiap kelompok pada hari Senin, Rabu, dan Jumat.

Untuk latihan, lakukan setiap perhitungan secara terpisah.

Evaluasi aktivitas pengguna di setiap kota. Kelompokkan data berdasarkan kota dan temukan jumlah lagu yang diputar di setiap kelompok.

In [18]:
#print(df.groupby('city').count())

df[['city','track']].groupby('city').count()

             track
city
Shelbyville  18512
Springfield  42741

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sebaiknya satu kolom saja yang digunakan dalam pengelompokan.

</div>

<div class="alert alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Ini akan lebih baik jika pemilihan kolom dilakukan setelah pengelompokan seperti ini dengan tujuan agar kolom city tidak berperan sebagai index seperti hasil diatas.
    
    df.groupby('city')['track'].count()

</div>

Springfield memiliki lebih banyak lagu yang dimainkan daripada Shelbyville. Namun bukan berarti warga Springfield lebih sering mendengarkan musik. Kota ini lebih besar, dan memiliki lebih banyak pengguna.

Sekarang kelompokkan data menurut hari dan temukan jumlah lagu yang diputar pada hari Senin, Rabu, dan Jumat.

In [19]:
#print(df.groupby('day').count())

df[['day','track']].groupby('day').count()

           track
day
Friday     21840
Monday     21354
Wednesday  18059

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sama seperti komen sebelumnya terkait satu kolom saja yang digunakan dalam pengelompokan.

</div>

<div class="alert alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Sama seperti sebelumnya, ini akan lebih baik jika pemilihan kolom dilakukan setelah pengelompokan seperti ini dengan tujuan agar kolom city tidak berperan sebagai index seperti hasil diatas.
    
    df.groupby('city')['track'].count()

</div>

Rabu adalah hari paling tenang secara keseluruhan. Tetapi jika kita mempertimbangkan kedua kota secara terpisah, kita mungkin akan memiliki kesimpulan yang berbeda.

Anda telah melihat cara kerja pengelompokan berdasarkan kota atau hari. Sekarang tulis fungsi yang akan dikelompokkan berdasarkan keduanya.

Buat fungsi `number_tracks()` untuk menghitung jumlah lagu yang diputar untuk hari dan kota tertentu. Ini akan membutuhkan dua parameter:
* nama hari
* nama kota

Dalam fungsi, gunakan variabel untuk menyimpan baris dari tabel asli, di mana:
  *  Nilai kolom `'day'` sama dengan parameter `day`
  * Nilai kolom `'city'` sama dengan parameter `city`

Terapkan pemfilteran berurutan dengan pengindeksan logis.

Kemudian hitung nilai kolom `'user_id'` pada tabel yang dihasilkan. Simpan hasilnya ke variabel baru. Kembalikan variabel ini dari fungsi.

In [21]:
 
    
# Kita akan mendeklarasikan sebuah fungsi dengan dua parameter: day=, city=.
# Biarkan variabel track_list menyimpan baris df di mana
# nilai di kolom 'day' sama dengan parameter day= dan, pada saat yang sama,
# nilai pada kolom 'city' sama dengan parameter city= (terapkan pemfilteran berurutan
# dengan pengindeksan logis).
# Biarkan variabel track_list_count menyimpan jumlah nilai kolom 'user_id' pada track_list
# (temukan dengan metode count()).
# Biarkan fungsi menghasilkan jumlah: nilai track_list_count.

def number_tracks(day,city):
    
    track_list = df[(df['day']==day) & (df['city']==city)]
    track_list_count = track_list['user_id'].count()
    return track_list_count
   
# Fungsi menghitung lagu yang diputar untuk kota dan hari tertentu.
# Pertama-tama ini akan mengambil baris dengan hari yang diinginkan dari tabel,
# kemudian memfilter baris hasilnya dengan kota yang dimaksud,
# kemudian temukan jumlah nilai 'user_id' pada tabel yang difilter,
# kemudian menghasilkan jumlah tersebut.
# Untuk melihat apa yang dihasilkan, kemas pemanggilan fungsi pada print().

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sangat hebat! walaupun di modul ini belum dijelaskan terkait penggunaan operasi `boolean` tapi sudah digunakan dengan benar. Selanjutnya akan dibahas lebih detail terkait ini. 

</div>

<div class="alert alert-warning">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Sedikit tambahan, lebih baik penulisan koding dilakukan setelah penulisan komen sehingga orang lain yang membaca notebook ini lebih mudah memahami konteks fungsi yang telah dibuat.

</div>

Panggil `number_tracks()` enam kali dan ubahlah nilai parameternya, sehingga Anda bisa mengambil data di kedua kota untuk masing-masing hari tersebut.

In [22]:
number_tracks('Monday','Springfield') #  jumlah lagu yang diputar di Springfield pada hari Senin

15740

In [23]:
number_tracks('Monday','Shelbyville')

5614

In [24]:
number_tracks('Wednesday','Springfield')

11056

In [25]:
number_tracks('Wednesday','Shelbyville')

7003

In [26]:
number_tracks('Friday','Springfield')

15945

In [27]:
number_tracks('Friday','Shelbyville')

5895

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

100! Sempurna.

</div>

Gunakan `pd.DataFrame` untuk membuat tabel, di mana
* Nama kolom adalah: `['city', 'monday', 'wednesday', 'friday']`
* Data adalah hasil yang Anda dapatkan dari `number_tracks()`

In [28]:
kolom = ['city','monday','wednesday','friday']
hari = ['Monday','Wednesday','Friday']
kota = ['Springfield','Shelbyville']
data = [[],[]]
for i in range(len(kota)):
    data[i].append(kota[i])
    for j in range(len(hari)):
        data[i].append(number_tracks(hari[j],kota[i]))
        
pd.DataFrame(data,columns = kolom)

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Wow, dengan jawaban ini modul selanjutnya akan menjadi lebih mudah.

</div>

**Kesimpulan**

Data mengungkapkan perbedaan perilaku pengguna:

- Pada Springfield, jumlah lagu yang diputar mencapai puncaknya pada hari Senin dan Jumat, sedangkan pada hari Rabu terjadi penurunan aktivitas.
- Di Shelbyville, sebaliknya, pengguna lebih banyak mendengarkan musik pada hari Rabu.

Aktivitas pengguna pada hari Senin dan Jumat lebih sedikit.

[Kembali ke Daftar Isi](#back)

### Hipotesis 2: Musik di Awal dan Akhir Minggu <a id='week'></a>

Menurut hipotesis kedua, pada Senin pagi dan Jumat malam, warga Springfield mendengarkan genre yang berbeda dari yang dinikmati warga Shelbyville.

Dapatkan tabel (pastikan nama tabel gabungan Anda cocok dengan DataFrame yang diberikan dalam dua blok kode di bawah):
* Untuk Springfield ‚Äî `spr_general`
* Untuk Shelbyville ‚Äî `shel_general`

In [29]:
spr_general = df[df['city']=='Springfield']
spr_general.head()
# mendapatkan tabel spr_general dari baris df,
# dimana nilai dari kolom 'city' adalah 'Springfield'

,user_id,track,artist,genre,city,time,day
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L‚Äôestate,Julia Dalia,ruspop,Springfield,09:17:40,Friday

In [30]:
shel_general = df[df['city']=='Shelbyville']
shel_general.head()

,user_id,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
9,E772D5C0,Pessimist,unknown,dance,Shelbyville,21:20:49,Wednesday

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>

Semuanya berjalan dengan baik!

</div>

Tulis fungsi `genre_weekday()` dengan empat parameter:
* Sebuah tabel untuk data
* Nama hari
* Tanda waktu pertama, dalam format 'hh:mm'
* Tanda waktu terakhir, dalam format 'hh: mm'

Fungsi tersebut harus menghasilkan info tentang 15 genre paling populer pada hari tertentu dalam periode diantara dua tanda waktu.

In [31]:
# Mendeklarasikan fungsi genre_weekday() dengan parameter day=, time1=, dan time2=. Itu harus
# memberikan informasi tentang genre paling populer pada hari dan waktu tertentu:

# 1) Biarkan variabel genre_df menyimpan baris yang memenuhi beberapa ketentuan:
#    - nilai pada kolom 'day' sama dengan nilai argumen hari=
#    - nilai pada kolom 'time' lebih besar dari nilai argumen time1=
#    - nilai pada kolom 'time' lebih kecil dari nilai argumen time2=
#    Gunakan pemfilteran berurutan dengan pengindeksan logis.

# 2) Kelompokkan genre_df berdasarkan kolom 'genre', lalu ambil salah satu kolomnya,
#    dan gunakan metode count() untuk menemukan jumlah entri untuk masing-masing
#    genre yang diwakili; simpan Series yang dihasilkan ke
#    variabel genre_df_count

# 3) Urutkan genre_df_count dalam urutan menurun dan simpan hasilnya
#    ke variabel genre_df_sorted

# 4) Menghasilkan objek Series dengan nilai 15 genre_df_sorted pertama - 15 genre paling
#    populer (pada hari tertentu, dalam jangka waktu tertentu)

def genre_weekday(city,day,time1,time2):

    genre_df_x = city[(city['day']==day) 
                    & (city['time']>time1)
                    & (city['time']<time2)]
    #genre_df = genre_df[genre_df['time'] > time1]
    #genre_df = genre_df[genre_df['time'] < time2]
    genre_df = genre_df_x[['genre','track']] 
    genre_df_grouped = genre_df.groupby('genre').count()
    genre_df_sorted = genre_df_grouped.sort_values(by='track',ascending=False)

    # kita akan menghasilkan objek Series yang menyimpan 15 genre paling populer pada hari tertentu dalam jangka waktu tertentu
    return genre_df_sorted[:15]

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Sepertinya dalam mendefinisikan funsi `genre_weekday` diperlukan parameter tambahan sehingga tidak perlu penggunaan nama tabel df_2 dalam fungsi. 

</div>

<div class="alert alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Perulangan dari sebelumnya, ini akan lebih baik jika pemilihan kolom dilakukan setelah pengelompokan seperti ini dengan tujuan agar kolom city tidak berperan sebagai index seperti hasil diatas.
    
    genre_df.groupby('genre')['track'].count()

</div>

Bandingkan hasil fungsi `genre_weekday()` untuk Springfield dan Shelbyville pada Senin pagi (dari pukul 07.00 hingga 11.00) dan pada Jumat malam (dari pukul 17:00 hingga 23:00):

In [32]:
genre_weekday(spr_general,'Monday','07:00','11:00')

             track
genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95

In [33]:
#df_2 = shel_general
genre_weekday(shel_general,'Monday','07:00','11:00')

             track
genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27

In [34]:
#df_2 = spr_general
genre_weekday(spr_general,'Friday','17:00','23:00')

             track
genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88

In [35]:
#df_2 = shel_general
genre_weekday(shel_general,'Friday','17:00','23:00')

             track
genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Masih terdapat beberapa hal yang perlu dirubah di fungsi `genre_weekday()` seperti di komen sebelumnya agar tidak terdapat perulangan informasi.

</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Bagus!

</div>

**Kesimpulan**

Setelah membandingkan 15 genre teratas pada Senin pagi, kita dapat menarik kesimpulan berikut:

1. Pengguna dari Springfield dan Shelbyville mendengarkan musik dengan genre yang sama. Lima genre teratas sama, hanya rock dan elektronik yang bertukar tempat.

2. Di Springfield, jumlah nilai yang hilang ternyata sangat besar sehingga nilai `'unknown'` berada di urutan ke-10. Ini berarti bahwa nilai-nilai yang hilang memiliki jumlah data yang cukup besar, yang mungkin menjadi dasar untuk mempertanyakan ketepatan kesimpulan kita.

Untuk Jumat malam, situasinya serupa. Genre individu agak bervariasi, tetapi secara keseluruhan, 15 besar genre untuk kedua kota sama.

Dengan demikian, hipotesis kedua sebagian terbukti benar:
* Pengguna mendengarkan musik yang sama di awal dan akhir minggu.
* Tidak ada perbedaan yang mencolok antara Springfield dan Shelbyville. Pada kedua kota tersebut, pop adalah genre yang paling populer.

Namun, jumlah nilai yang hilang membuat hasil ini dipertanyakan. Di Springfield, ada begitu banyak yang memengaruhi 15 teratas kita. Jika kita tidak mengabaikan nilai-nilai ini, hasilnya mungkin akan berbeda.

[Kembali ke Daftar Isi](#back)

### Hipotesis 3: Preferensi Genre di Springfield dan Shelbyville <a id='genre'></a>

Hipotesis: Shelbyville menyukai musik rap. Warga Springfield lebih menyukai pop.

Kelompokkan tabel `spr_general` berdasarkan genre dan temukan jumlah lagu yang dimainkan untuk setiap genre dengan metode `count()`. Kemudian urutkan hasilnya dalam urutan menurun dan simpan ke `spr_genres`.

In [36]:
spr_grouped_g = spr_general[['genre','track']]
spr_grouped = spr_grouped_g.groupby('genre').count()# pada satu baris: kelompokkan tabel spr_general berdasarkan kolom 'genre',
# hitung nilai 'genre' dengan count() dalam pengelompokan,s
spr_genres = spr_grouped.sort_values(by='track',ascending=False)

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Kolom `genre` tidak dipilih setelah pengelompokan sehingga terdapat perulangan informasi seperti di sel selanjutnya

</div>

<div class="alert alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Perulangan dari sebelumnya, ini akan lebih baik jika pemilihan kolom dilakukan setelah pengelompokan seperti ini dengan tujuan agar kolom city tidak berperan sebagai index seperti hasil diatas.
    
    spr_general.groupby('genre')['track'].count()

</div>

Tampilkan 10 baris pertama dari `spr_genres`:

In [37]:
spr_genres.head(10)

             track
genre
pop           5892
dance         4435
rock          3965
electronic    3786
hiphop        2096
classical     1616
world         1432
alternative   1379
ruspop        1372
rusrap        1161

Sekarang lakukan hal yang sama pada data di Shelbyville.

Kelompokkan tabel `shel_general` berdasarkan genre dan temukan jumlah lagu yang dimainkan untuk setiap genre. Kemudian urutkan hasilnya dalam urutan menurun dan simpan ke tabel `shel_genres`:

In [38]:
#shel_grouped = shel_general.groupby('genre').count()# pada satu baris: kelompokkan tabel spr_general berdasarkan kolom 'genre',
# hitung nilai 'genre' dengan count() dalam pengelompokan,
#shel_genres = shel_grouped.sort_values(by='track',ascending=False)
shel_grouped_g = shel_general[['genre','track']]
shel_grouped = shel_grouped_g.groupby('genre').count()
shel_genres = shel_grouped.sort_values(by = 'track', ascending = False)

<div class="alert alert-danger">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Sama dengan komen sebelumnya terkait kolom `genre` tidak dipilih setelah pengelompokan sehingga terdapat perulangan informasi seperti di sel selanjutnya

</div>

<div class="alert alert-warning">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>

Perulangan dari sebelumnya, ini akan lebih baik jika pemilihan kolom dilakukan setelah pengelompokan seperti ini dengan tujuan agar kolom city tidak berperan sebagai index seperti hasil diatas.
    
    shel_general.groupby('genre')['track'].count()

</div>

Tampilkan 10 baris pertama dari `shel_genres`:

In [39]:
shel_genres.head(10)

             track
genre
pop           2431
dance         1932
rock          1879
electronic    1736
hiphop         960
alternative    649
classical      646
rusrap         564
ruspop         538
world          515

**Kesimpulan**

Hipotesis terbukti benar sebagian:
* Musik pop adalah genre paling populer di Springfield, seperti yang diharapkan.
* Namun, musik pop ternyata sama populernya baik di Springfield maupun di Shelbyville, dan musik rap tidak berada di 5 besar untuk kedua kota tersebut.

[Kembali ke Daftar Isi](#back)

# Temuan <a id='end'></a>

Kita telah menguji tiga hipotesis berikut:

1. Aktivitas pengguna berbeda-beda tergantung pada hari dan kotanya.
2. Pada senin pagi, penduduk Springfield dan Shelbyville mendengarkan genre yang berbeda. Hal ini juga ini juga berlaku untuk Jumat malam.
3. Pendengar di Springfield dan Shelbyville memiliki preferensi yang berbeda. Baik Springfield maupun di Shelbyville, mereka lebih suka musik pop.

Setelah menganalisis data, kita dapat menyimpulkan:

1. Aktivitas pengguna di Springfield dan Shelbyville bergantung pada harinya, walaupun kotanya berbeda.

Hipotesis pertama dapat diterima sepenuhnya.

2. Preferensi musik tidak terlalu berbeda selama seminggu di Springfield dan Shelbyville. Kita dapat melihat perbedaan kecil dalam urutan pada hari Senin, tetapi:
* Baik di Springfield maupun di Shelbyville, orang paling banyak mendengarkan musik pop.

Jadi hipotesis ini tidak dapat kita terima. Kita juga harus ingat bahwa hasilnya bisa berbeda jika bukan karena nilai yang hilang.

3. Ternyata preferensi musik pengguna dari Springfield dan Shelbyville sangat mirip.

Hipotesis ketiga ditolak. Jika ada perbedaan preferensi, tidak dapat dilihat dari data ini.

### Catatan
Dalam proyek sesungguhnya, penelitian melibatkan pengujian hipotesis statistik, yang lebih tepat dan lebih kuantitatif. Perhatikan juga bahwa Anda tidak dapat selalu menarik kesimpulan tentang seluruh kota berdasarkan data dari satu sumber saja.

Anda akan mempelajari pengujian hipotesis dalam sprint analisis data statistik.

<div class="alert alert-success">
<b>Reviewer's comment v1</b> <a class="tocSkip"></a>
    
Secara keseluruhan ini adalah hasil yang cukup bagus namun terdapat beberapa catatan yang perlu diperbaiki.

</div>

<div class="alert alert-success">
<b>Reviewer's comment v2</b> <a class="tocSkip"></a>
    
Ini adalah hasil perbaikan yang cukup bagus dan terdapat beberapa masukan untuk kedepanya agar lebih baik. Selain itu terdapat beberapa jawaban dari pertanyaan yang diajukan. Kerja bagus!
</div>

[Kembali ke Daftar Isi](#back)